/Plugins/SevenSpikes.Core/
/Plugins/Misc.SendinBlue/Nop.Plugin.Misc.PharmaDB.pdb
/Plugins/SevenSpikes.Nop.Plugins.AjaxCart/
/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters/
/Plugins/SevenSpikes.Nop.Plugins.AnywhereSliders/
/Plugins/SevenSpikes.Nop.Plugins.CloudZoom/
/Plugins/SevenSpikes.Nop.Plugins.InstantSearch/
/Plugins/SevenSpikes.Nop.Plugins.JCarousel/
/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/
/Plugins/SevenSpikes.Nop.Plugins.NewsletterPopup/
/Plugins/SevenSpikes.Nop.Plugins.NopQuickTabs/
/Plugins/SevenSpikes.Nop.Plugins.PrevNextProduct/
/Plugins/SevenSpikes.Nop.Plugins.ProductRibbons/
/Plugins/SevenSpikes.Nop.Plugins.QuickView/
/Plugins/SevenSpikes.Nop.Plugins.RichBlog/
/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/
/Plugins/SevenSpikes.Nop.Plugins.SmartProductCollections/
/Plugins/SevenSpikes.Theme.Pacific/
