:root {
    --m-color: #cd61f1;
}

/*********** CHANGE FONT**********/
@font-face {
    font-family: Vazir;
    src: url('Font/Farsi-Digits/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff') format('woff'), url('../fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold-FD.eot');
    src: url('../fonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold-FD.woff') format('woff'), url('../fonts/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light-FD.eot');
    src: url('../fonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Light-FD.woff') format('woff'), url('../fonts/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
}

body {
    font: normal 14px Vazir, Arial, Helvetica, sans-serif!important;
}

.selected-value .attribute-square:before {
    border: 1px solid var(--m-color) !important;
}

.selected-value .attribute-square:after {
    color: var(--m-color)!important;
    opacity: 0.8!important;
}

@media (min-width: 1261px) {
.header-menu .sublist li a {
    padding: 7px 17px 1px 17px!important;
}
.header-menu .sublist .plus-button {
    width: 50px;
    height: 31px!important;
}
}

.gallery .picture-thumbs {
    max-height: 350px !important;
    overflow-y: auto !important;
    margin: 0px 30px 15px !important;
}

.ref-url {
    text-align: right;
}

.ref-url a {
    padding: 6px 7px 3px 7px;
    background-color: red;
    color: white; 
}

.quickView .thumbnails {
    overflow-y: auto!important; 
    max-height: 350px !important; 
}
.quickView .thumbnails a { 
    width: calc(33.333% - 6.666px)!important; 
}