@{
    Html.AppendCssFileParts(ResourceLocation.Footer, "~/Plugins/Misc.LoginWithMobile/Themes/Pacific/Content/AditionalNavLinksStyle.css");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.LoginWithMobile/Themes/Pacific/Content/AditionalNavLinksScript.js");
}

<div class="lwm-personal-button personal-button">
    <a href="/customer/info">
        @T("SevenSpikes.Themes.Common.Personal")
    </a>
</div>