@model ConfigurationModel

@using Nop.Plugin.Misc.LoginWithMobile.Models

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="LoginWithMobile" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Enable" />
                </div>
                <div class="col-md-3">
                    <nop-editor asp-for="Enable" />
                    <span asp-validation-for="Enable"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="TestMode" />
                </div>
                <div class="col-md-3">
                    <nop-editor asp-for="TestMode" />
                    <span asp-validation-for="TestMode"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AdminPhoneNumber" />
                </div>
                <div class="col-md-3">
                    <nop-editor asp-for="AdminPhoneNumber" />
                    <span asp-validation-for="AdminPhoneNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="ProviderName" />
                </div>
                <div class="col-sm-9">
                    <nop-select asp-for="ProviderName" asp-items="Model.Providers" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="EnableSaleMessage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EnableSaleMessage" />
                    <span asp-validation-for="EnableSaleMessage"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SaleMessageTemplate" />
                </div>
                <div class="col-md-9">
                    <textarea asp-for="SaleMessageTemplate" style="width: 500px; height: 100px"></textarea>
                    <span asp-validation-for="SaleMessageTemplate"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="EnableOrderStatusMessage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EnableOrderStatusMessage">
                        <span asp-validation-for="EnableOrderStatusMessage"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="OrderStatusMessageTemplate" />
                </div>
                <div class="col-md-9">
                    <textarea asp-for="OrderStatusMessageTemplate" style="width: 500px; height: 100px"></textarea>
                    <span asp-validation-for="OrderStatusMessageTemplate"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="EnableLoginWithEmail" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EnableLoginWithEmail" />
                    <span asp-validation-for="EnableLoginWithEmail"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AutoGenerateEmail" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AutoGenerateEmail" />
                    <span asp-validation-for="AutoGenerateEmail"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreUrl" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreUrl" />
                    <span asp-validation-for="StoreUrl"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="RedirectToCustomerInfo" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RedirectToCustomerInfo" />
                    <span asp-validation-for="RedirectToCustomerInfo"></span>
                </div>
            </div>


            @*<div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="UseSharedMode" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="UseSharedMode" />
                <span asp-validation-for="UseSharedMode"></span>
            </div>
        </div>*@

            @*<div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="SharedTemplate" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="SharedTemplate" />
                <span asp-validation-for="SharedTemplate"></span>
            </div>
        </div>*@


            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="MessageTemplate" />
                </div>
                <div class="col-md-9">
                    <textarea asp-for="MessageTemplate" style="width: 500px; height: 100px">
                    </textarea>
                    <span asp-validation-for="MessageTemplate"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ShowCaptchaOnLoginWithMobilePage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ShowCaptchaOnLoginWithMobilePage" />
                    <span asp-validation-for="ShowCaptchaOnLoginWithMobilePage"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ShowCaptchaOnActivationCodePage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ShowCaptchaOnActivationCodePage" />
                    <span asp-validation-for="ShowCaptchaOnActivationCodePage"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ShowCaptchaOnChangePhoenumberPage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ShowCaptchaOnChangePhoenumberPage" />
                    <span asp-validation-for="ShowCaptchaOnChangePhoenumberPage"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ShowCaptchaOnChangePhoenumberActivationCodePage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ShowCaptchaOnChangePhoenumberActivationCodePage" />
                    <span asp-validation-for="ShowCaptchaOnChangePhoenumberActivationCodePage"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ActivationCodeValidityPeriod" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ActivationCodeValidityPeriod" />
                    <span asp-validation-for="ActivationCodeValidityPeriod"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ActivationCodeCountOfSend" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ActivationCodeCountOfSend" />
                    <span asp-validation-for="ActivationCodeCountOfSend"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ActivationCodeDenyTime" />
                </div>
                <div class="col-md-3">
                    <nop-editor asp-for="ActivationCodeDenyTime" />
                    <span asp-validation-for="ActivationCodeDenyTime"></span>
                </div>
            </div>

            
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="LoginDescription" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="LoginDescription" asp-template="RichEditor" />
                    <span asp-validation-for="LoginDescription"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                </div>
            </div>
        </div>
        </div>
</form>
